.order-section
  width: 80%
  margin: 0 auto
  .order-header
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 20px
    .divide-line
      width: 100%
      margin-top: 20px
  .order-list 
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .order-list__header 
      width: 100%
      padding: 30px 40px
      display: flex
      align-items: center
      justify-content: space-between
      margin-top: 50px
      font-size: 20px
      background: #f6f6f6
      border: 1px solid #aaaaaa
    .order-list-item 
      display: flex
      justify-content: space-between
      align-items: flex-start
      width: 100%
      padding: 20px 40px
      border: 1px solid #aaaaaa
      .order-list-item-container
        display: flex
        gap: 15px
        margin-top: 10px
        img
          width: 144px
          height: 144px
        .order-list-item-info
          display: flex
          flex-direction: column
          gap: 15px
          .order-info
            color: rgba(0, 0, 0, 0.5)
    .order-list-button
      background: #2ac1bc
      font-size: 20px
      color: white
      padding: 14px 28px
      border-style: none
      margin-top: 1rem






.order-detail-container 
  display: flex
  justify-content: flex-end
  margin: 50px 0


.order-detail-title 
  font-size: 24px

